<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (allcategories) { %>
        <h1><%= title %></h1>
        <ul>
            <% allcategories.forEach(function(category) { %>
                <li><a href="<%= category.url %>"><%= category.name %></a></li>
            <% }); %>
        </ul>
    <% } %>
</body>
</html>
